@model List<Class>;
    @{
    ViewData["Title"] = "Class Page";
    var classes = Model;
    }

    <div class="text-center">
        <h1 class="display-4">Welcome Class page</h1>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>NameClass</th>
                <th>SchoolName</th>
                <th>
                    <a href="/class/create" class="btn btn-primary">Create </a>
                </th>
                
            </thead>
            <tbody>
                @foreach( var class1 in classes)
                {
                <tr>
                    <td>@class1.Id</td>
                    <td>@class1.NameClass</td>
                    <td>@class1.School.NameSchool</td>

                    <td>
                    <a href="/class/Update?id=@class1.Id" class="btn btn-success" >Update</a>
                    <a href="/class/Delete?id=@class1.Id" class="btn btn-danger">Delete</a>

                    </td>

                    
                </tr>
                }

            </tbody>
        </table>
    </div>